h1{ 
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Raleway', sans-serif;
}

p{  
  color: white;
  font-size: medium;
  font-family: 
} 
    
body{
  background-img: url("space.png");
}
     
    
