body{
  background-color: black;
  background-image: url("space.png");
  color: white;
  font-weight: bold;
  font-family: Amatic SC, cursive;
  text-align: center;
}

header{
  font-size: large;
}
  

td{  
  color: white;
  font-size: medium;
  width: 10%;
  vertical-align: middle;
} 

th{  
  color: white;
  font-size: large;
  width: 10%;
  vertical-align: middle;
} 

.planetimg{
  height: 100px;
  width: auto;
}
    


    
