@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,200&display=swap')
  
h1{ 
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Raleway', sans-serif;
}

p, td{  
  color: white;
  font-size: medium;
  font-family: 'Raleway', sans-serif;
} 

th{  
  color: white;
  font-size: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
} 
    
body{
  background-image: url("space.png");
}
     
    
